.board-menu {
  .ant-menu-submenu-title {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

.team-tag {
  font-size: 16px;
  padding: 4px;
  img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: -7px;
    margin-bottom: -3px;
  }
}
